html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: grey;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
nav {
  padding: 5px 10px;
  background-color: #aaaaff;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
section {
  background-color: orange;
  flex: 1 1 auto;
}
aside {
  background-color: green;
  width: 30%;
}
footer {
  background-color: yellow;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 5px;
  background-color: black;
  flex: 1 1 auto;
}

@media (width > 500px) {
  .wrapper {
    flex-direction: row;
  }
  nav {
    flex-direction: column;
  }
  .dropdown > .dropdown-content {
    display: none;
  }

  .dropdown:hover > .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (width <= 500px) {
  .wrapper {
    flex-direction: column;
  }

  nav {
    flex-direction: row;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

#header-text {
  margin: 0 auto;
}

table,
th,
td,
tr {
  border: 1px solid;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  padding: 5px;
}

#galeria {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.photo > img {
  max-height: 200px;
  max-width: 200px;
}

.photo {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-width: 200px;
}

.photo:hover > img {
  max-height: 600px;
  max-width: 600px;
}
.photo:hover {
  max-height: 600px;
  max-width: 600px;
}
